NeoVim/plugged
**credentials.fish
NeoVim/spell
**/packer_compiled.lua
**/Brewfile.lock.json
common/newsboat/history.cmdline
common/newsboat/cache.db
common/newsboat/cache.db.lock
common/nvim/lazy-lock.json
