---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: mixed-line-ending
  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v2.3.1
    hooks:
      - id: stylua-system
  - repo: https://github.com/NixOS/nixfmt
    rev: v1.2.0
    hooks:
      - id: nixfmt
  - repo: local
    hooks:
      - id: nix-flake-check
        name: nix flake check
        entry: nix flake check --no-build
        language: system
        pass_filenames: false
