---
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-toml
          - id: check-json
          - id: mixed-line-ending
    - repo: https://github.com/JohnnyMorganz/StyLua
      rev: v2.3.1
      hooks:
          - id: stylua-system
    - repo: https://github.com/NixOS/nixfmt
      rev: v1.1.0
      hooks:
          - id: nixfmt
